
/** feature-section **/

.feature-section{
  position: relative;
  padding: 115px 0px 105px 0px;
}

.content_block_nine .content-box{
  position: relative;
  display: block;
}

.content_block_nine .content-box:before{
  position: absolute;
  content: '';
  background: #c2c3c6;
  width: 1px;
  height: calc(100% - 40px);
  bottom: 0px;
  right: -5px;
}

.content_block_nine .content-box .text-box p{
  margin-bottom: 37px;
}


/** feature-style-two **/

.feature-style-two{
  position: relative;
}

.content_block_11 .content-box{
  position: relative;
  display: block;
}

.content_block_11 .content-box .text-box p:first-child{
  position: relative;
  padding-left: 33px;
  margin-bottom: 42px;
}

.content_block_11 .content-box .text-box p:first-child:before{
  position: absolute;
  content: '';
  background: #0b1953;
  width: 4px;
  height: calc(100% - 6px);
  left: 0px;
  top: 3px;
}

.content_block_11 .content-box .text-box h3{
  position: relative;
  display: block;
  font-size: 26px;
  line-height: 36px;
  margin-bottom: 25px;
}

.content_block_11 .content-box .lower-content{
  position: relative;
  display: flex;
  align-items: center;
}

.content_block_11 .content-box .lower-content .theme-btn{
  border-radius: 40px;
}

.content_block_11 .content-box .lower-content .support-box{
  position: relative;
  display: block;
  padding: 0px 0px 0px 60px;
}

.content_block_11 .content-box .lower-content .support-box .icon-box{
  position: absolute;
  display: inline-block;
  left: 0px;
  top: -3px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  background: transparent;
  text-align: center;
  border-radius: 50%;
}

.content_block_11 .content-box .lower-content .support-box span{
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 20px;
}

.content_block_11 .content-box .lower-content .support-box h4{
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 28px;
  font-family: var(--special-font);
  font-weight: 500;
}

.content_block_11 .content-box .lower-content .support-box h4 a{
  display: inline-block;
  color: #0b1953;
}

.content_block_11 .content-box .lower-content .support-box h4 a:hover{

}

.feature-style-two .image-box{
  position: relative;
  display: block;
  margin-right: -102px;
}

.feature-style-two .image-box .image{
  position: relative;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #dddddd;
  box-shadow: 25px 24px 10px 0px rgba(0, 0, 0, 0.17);
}

.feature-style-two .image-box .image img{
  width: 100%;
  border-radius: 50%;
}

.feature-style-two .image-box .image-shape{
  position: absolute;
  left: 0px;
  bottom: -115px;
  width: 592px;
  height: 468px;
  background-repeat: no-repeat;
}

.feature-section.home-7 .list-style-one li:before{
  background-image: url(../../images/icons/icon-80.png);
  width: 18px;
  height: 18px;
  top: 5px;
}

.feature-block-one .inner-box{
  position: relative;
  display: block;
}

.feature-block-one .inner-box .image-box{
  position: relative;
  display: block;
  overflow: hidden;
  margin-bottom: 21px;
  background: var(--secondary-color);
}

.feature-block-one .inner-box .image-box img{
  width: 100%;
  transition: all 500ms ease;
}

.feature-block-one .inner-box:hover .image-box img{
  transform: scale(1.05);
  opacity: 0.5;
}

.feature-block-one .inner-box h3{
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-family: var(--text-font);
  font-weight: 700;
  padding-left: 56px;
}

.feature-block-one .inner-box h3 a{
  display: inline-block;
  color: var(--title-color);
}

.feature-block-one .inner-box h3 a:hover{

}

.feature-block-one .inner-box h3:before{
  position: absolute;
  content: '';
  background: #222222;
  width: 35px;
  height: 1px;
  left: 0px;
  bottom: 6px;
}


/** feature-style-three **/

.feature-style-three{
  position: relative;
}

.feature-style-three .text-box h2{
  font-size: 38px;
  line-height: 46px;
  color: #242424;
  font-weight: 300;
  margin-bottom: 35px;
}

.feature-style-three .feature-list{
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.feature-style-three .feature-list li{
  position: relative;
  margin-right: 140px;
}

.feature-style-three .feature-list li:last-child{
  margin: 0px !important;
}

.feature-style-three .feature-list li .icon-box{
  position: relative;
  display: block;
  margin-bottom: 15px;
}

.feature-style-three .feature-list li h3{
  position: relative;
  display: block;
  font-size: 22px;
  line-height: 26px;
  font-family: var(--roboto);
  color: #242424;
  font-weight: 900;
  text-transform: uppercase;
}

.feature-style-three .feature-list li:before{
  position: absolute;
  content: '';
  background: #cfcfcf;
  width: 1px;
  height: 100%;
  top: 0px;
  right: -70px;
}

.feature-style-three .feature-list li:last-child:before{
  display: none;
}

.image_block_eight .image-box{
  position: relative;
  display: block;
  margin-right: -106px;
  padding-bottom: 82px;
}

.image_block_eight .image-box .image{
  display: inline-block;
  border-radius: 50%;
  border: none;
  box-shadow: none;
}

.image_block_eight .image-box .image img{
  width: 100%;
  border-radius: 50%;
}

.image_block_eight .image-box .image-2{
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

.image_block_eight .image-box .image-2:before{
  position: absolute;
  content: '';
  background: #fff;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  right: 10px;
  bottom: 10px;
  z-index: -1;
}

.image_block_eight .image-box .dot{
  position: absolute;
  right: -50px;
  bottom: 180px;
  background: #fd4a36;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  -webkit-animation: zoom-fade 4s infinite linear;
  animation: zoom-fade 4s infinite linear;
}

.feature-style-four{
  position: relative;
  background: #f8f8f8;
}

.image_block_nine .image-box{
  position: relative;
  display: block;
}

.image_block_nine .image-box img{
  width: 100%;
}

.image_block_nine .image-box .image-2{
  position: absolute;
  right: -30px;
  bottom: 0px;
}

.image_block_nine .image-box .experience-box{
  position: absolute;
  display: inline-block;
  left: 0px;
  top: -10px;
  background: #fd4a36;
  font-size: 16px;
  line-height: 26px;
  font-family: var(--special-font);
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 15px 20px 10px 20px;
}








































