/* Responsive Css */

@media only screen and (max-width: 5000px){
  .service-style-11 .single-column:nth-child(7){
    height: 1065px;
  }
}

@media only screen and (max-width: 1920px){
  .service-style-11 .single-column:nth-child(7){
    height: auto;
  }
}

@media only screen and (max-width: 1699px){
  .banner-style-six .text-box{
    position: relative;
    bottom: 0px;
    margin-top: 40px;
  }

  .banner-style-ten .content-column{
    padding-left: 60px;
    padding-right: 60px;
  }

  .service-style-seven .content-column,
  .skills-section .content-column,
  .about-style-12 .content-column,
  .contact-style-four .content-column{
    padding-left: 60px;
  }

  .header-style-17 .support-box,
  .header-style-21 .menu-right-content .support-box{
    display: none;
  }

  .header-style-17 .logo-box{
    margin-right: 0px;
  }

  .header-style-21 .menu-right-content .search-box{
    margin-right: 0px;
  }

  .header-style-21 .menu-right-content .search-box:before{
    display: none;
  }
}


@media only screen and (max-width: 1499px){

  .main-header .outer-box{
    padding-left: 30px;
    padding-right: 30px;
  }



  .main-header .menu-right-content .search-box{
    margin-right: 0px;
  }

  .faq-style-two .content_block_seven .content-box{
    margin-left: 0px;
  }

  .banner-style-six .outer-container{
    padding-left: 50px;
    padding-right: 50px;
  }

  .header-style-11 .header-lower .outer-box{
    padding-left: 30px;
  }

  .header-style-13 .header-lower .outer-box{
    padding-left: 30px;
  }

  .header-style-13 .header-lower .menu-right-content .search-box{
    margin-right: 30px;
  }

  .header-style-17 .menu-right-content .search-box{
    margin-right: 20px;
  }

  .header-style-18 .support-box{
    display: none;
  }

  .header-style-22 .menu-right-content .schedule-box{
    display: none;
  }

  .header-style-22 .header-lower .outer-box{
    padding-left: 30px;
    padding-right: 30px;
  }

  .header-style-22 .menu-right-content .search-box:before{
    display: none;
  }

  .header-style-14 .menu-right-content .support-box{
    display: none;
  }

  .header-style-14 .header-lower .main-menu .navigation > li{
    margin: 0px 25px;
  }

  .header-style-14 .header-lower .outer-container{
    padding-left: 30px;
  }

  .header-style-19{
    padding-left: 325px;
  }

  .header-style-19 .social-links{
    display: none;
  }

  .header-style-19 .main-menu .navigation > li{
    margin: 0px 20px;
  }

  .header-style-19 .outer-box{
    display: block;
  }

  .header-style-19 .outer-box .left-column{
    justify-content: space-between;
  }

  .banner-style-14 .inner-box{
    margin-left: 0px;
  }

}
@media (min-width: 1200px) and (max-width: 1300px){ 
  .main-menu .navigation > li {
    margin: 0px 15px;
  }
}

@media only screen and (max-width: 1200px){
 
  .about-foot{
    margin-top: 0;
  }
.partnership-main {
	position: inherit;
  top: 0;
}
.partnership-cnt{
  padding: 20px 10px;
}
  .main-menu,
  .sticky-header,
  .main-header.style-one .outer-container:before{
    display: none !important;
  }

  .menu-area .mobile-nav-toggler {
    display: block;
    padding: 10px;
  }

  .banner-section .content-box p,
  .banner-section .content-box a{
    margin-left: 0px;
  }

  .about-section .image-box{
    margin-right: 0px;
  }

  .service-section .inner-container{
    margin: 0px;
  }

  .image_block_one .image-box{
    margin-right: 0px;
  }

  .project-block-one .inner-box{
    padding-left: 30px;
    padding-right: 30px;
  }

  .header-style-two{
    top: 20px;
  }

  .banner-style-two .outer-container,
  .project-style-two .outer-container{
    padding-left: 30px;
    padding-right: 30px;
  }

  .content_block_six .content-box{
    margin: 0px;
  }

  .contact-section .form-inner{
    margin-left: 0px;
  }

  .header-style-three .outer-box{
    padding: 15px 0px;
  }

  .banner-style-three .content-box{
    margin-left: 0px;
  }

  .banner-style-three .content-box h2{
    font-size: 130px;
    line-height: 140px;
  }

  .content_block_three .content-box{
    margin-left: 0px;
  }

  .image_block_two .image-box{
    margin-right: 0px;
  }

  .faq-style-two .content_block_eight .content-box{
    margin: 0px;
  }

  .project-block-three .inner-box .content-box .text-box{
    padding-left: 30px;
  }

  .contact-style-two .form-inner{
    margin-left: 0px;
  }

  .header-style-four{
    top: 20px;
  }

  .banner-style-four .content-box{
    margin-left: 0px;
  }

  .about-style-five .content_block_nine .content-box{
    margin-left: 0px;
  }

  .about-style-six .funfact-inner{
    margin-left: 0px;
  }

  .funfact-block-two .count-outer{
    font-size: 140px;
  }

  .feature-style-two .image-box{
    margin: 0px;
  }

  .header-style-five .outer-box{
    padding: 15px 0px;
  }

  .content_block_13 .content-box{
    margin-left: 0px;
  }

  .content_block_14 .content-box{
    margin-left: 0px;
  }

  .header-style-six .header-lower{
    padding: 15px 30px;
  }

  .header-style-six .header-lower .outer-box{
    border-bottom: none;
  }

  .image_block_four .image-box{
    margin-right: 0px;
  }

  .about-style-eight .lower-content{
    margin-right: 0px;
    padding-top: 50px;
  }

  .about-style-eight .lower-content .big-text,
  .about-style-eight .lower-content .icon-box{
    display: none;
  }

  .project-section .outer-box{
    padding: 0px 30px;
  }

  .header-style-seven .header-lower .outer-box{
    margin-left: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .content_block_15 .content-box{
    margin-left: 0px;
  }

  .header-style-eight{
    top: 20px;
  }

  .header-style-nine .outer-box{
    padding: 15px 0px;
  }

  .skills-section .bg-layer,
  .contact-style-four .bg-layer{
    display: none;
  }

  .header-style-11 .header-lower .outer-box{
    padding: 15px 30px;
  }

  .faq-style-two .image-box{
    margin-right: 0px;
  }

  .header-style-12 .header-service .service-list li{
    margin-bottom: 10px;
  }

  .banner-style-13 .outer-container{
    padding-left: 30px;
  }

  .header-style-13 .header-lower .outer-box{
    padding: 15px 30px;
  }

  .header-style-15 .header-lower .outer-box{
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .header-style-16,
  .header-style-17{
    top: 20px;
  }

  .chooseus-style-four .content-box{
    margin-left: 0px;
  }

  .project-style-four .carousel-content{
    margin: 0px;
  }

  .video-style-two .video-inner{
    margin-left: 0px;
  }

  .header-style-18 .header-lower .outer-box{
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .project-style-five{
    padding-right: 148px;
  }

  .project-style-five .sec-title{
    display: block;
  }

  .project-style-five .sec-title span{
    position: relative;
    top: 0px;
    right: 0px;
  }

  .skills-style-two .image-box{
    margin-left: 0px;
  }

  .header-style-20{
    top: 20px;
  }

  .banner-style-20 .content-box{
    margin-right: 0px;
  }

  .about-style-19 .image-layer{
    right: 0px;
  }

  .content_block_22 .content-box .lower-box .support-box{
    padding-right: 30px;
  }

  .fluid-section-two .content-column{
    padding-left: 30px;
    padding-right: 30px;
  }

  .header-style-21 .outer-box,
  .header-style-22 .header-lower .outer-box,
  .header-style-23 .outer-box,
  .header-style-24 .outer-box{
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .about-style-20 .image-layer{
    right: 0px;
  }

  .chooseus-style-five .bg-layer{
    display: none;
  }

  .chooseus-style-five .outer-container .inner-box{
    display: none;
  }

  .banner-style-22 .banner-carousel .content-box{
    margin-right: 0px;
  }

  .banner-style-23 .outer-container{
    padding-left: 60px;
  }

  .faq-section .accordion-content{
    margin-left: 0px;
  }

  .service-style-nine .list-item{
    margin-left: 0px;
  }

  .video-section.service-page-3 .sec-title .video-btn{
    position: relative;
    right: 0px;
    bottom: 0px;
    margin-top: 30px;
  }

  .service-details-content{
    margin-left: 0px;
  }

  .service-details-two .content-box{
    margin: 0px;
  }

  .service-details-three .bg-layer{
    display: none;
  }

  .service-sidebar .contact-widget .content-box .theme-btn{
    padding-left: 20px;
    padding-right: 20px;
  }

  .appointment-title h2 br{
    display: none;
  }

  .contact-page-section .info-inner{
    margin-left: 0px;
  }

  .info-section .inner-container{
    margin-right: 0px;
  }

  .header-style-19 .outer-box .left-column{
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .header-style-19 .header-top .top-inner{
    display: block;
    text-align: center;
  }

  .service-style-15 .outer-container{
    padding: 0px 30px;
  }

  .header-style-25{
    top: 20px;
  }
  .main-header .menu-right-content {
    position: absolute;
    right: 52px;
    width: max-content;
      top: 2px;
  }
  .main-header .menu-right-content .theme-btn {
    font-size: 14px;
    border-radius: 40px;
    padding: 5px 12px 4px 12px;
    font-weight: 600;
}

}



@media only screen and (min-width: 768px){
  .main-menu .navigation > li > ul,
  .main-menu .navigation > li > ul > li > ul,
  .main-menu .navigation > li > .megamenu{
    display:block !important;
    visibility:hidden;
    opacity:0;
  }
}



@media only screen and (max-width: 991px){
  .team-block-three .inner-box .image-box {
    width: 100%;
    height: 100%;
  }
  .team-section.home-20 .sec-title h3 {
    font-size: 18px;
    line-height: 24px;
  }
  .content_block_three .content-box .text-box p:first-child {
    font-size: 18px;
    line-height: 24px;
  }
  .about-style-11.home-21 .content-box .text-box p:first-child {
    font-size: 18px;
    line-height: 24px;
  }
  .about-section .image-box img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: bottom center;
  }
  .line-grid-wrap{
    display: none;
  }

  .banner-section .outer-container{
    padding: 0px 30px;
  }

  .banner-section .content-box{
    float: none;
  }

  .about-section .image-box{
    margin-bottom: 30px;
  }

  .image_block_one .image-box{
    margin-bottom: 30px;
  }
  

  .project-section .upper-box{
    display: block;
  }

  .project-section .upper-box .fact-box{
    display: inline-block;
    margin-top: 15px;
  }

  .project-section .project-block-one{
    width: 50%;
  }

  .content_block_three .content-box{
    margin-bottom: 30px;
  }

  .testimonial-section .sec-title{
    margin-bottom: 30px;
  }

  .news-section .title-inner{
    display: block;
  }

  .main-footer .footer-widget{
    margin:15px 0px 30px 0px !important;
  }

  .banner-style-two .content-box{
    float: none;
  }

  .faq-section .accordion-box{
    margin-left: 0px;
  }

  .footer-style-two .links-widget{
    padding: 0px;
    margin-top: 30px;
  }

  .header-top .top-inner{
    display: block;
  }

  .header-top .top-inner .top-left{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-top .info li,
  .header-top .social-links{
    border: none;
    padding-right: 0px;
  }

  .header-top .top-right{
    justify-content: center;
  }

  .banner-style-three .inner-box{
    margin-left: 0px;
    margin-top: 40px;
  }

  .service-style-three .service-block-three{
    width: 50%;
  }

  .service-block-three .inner-box{
    padding-left: 30px;
    padding-right: 30px;
  }

  .image_block_two .image-box{
    margin-bottom: 30px;
  }

  .project-style-three .sec-title .link-btn{
    position: relative;
    bottom: 0px;
    margin-top: 10px;
    display: inline-block;
  }

  .feature-section .funfact-inner{
    padding-left: 0px;
    margin-top: 30px;
  }

  .funfact-block-one .inner-box{
    margin-bottom: 30px;
  }

  .feature-section .funfact-block-one:last-child .inner-box{
    margin-bottom: 0px;
  }

  .team-section .sec-title .theme-btn{
    position: relative;
    bottom: 0px;
    margin-top: 15px;
  }

  .fluid-section .left-column,
  .fluid-section .right-column{
    width: 100%;
  }

  .info-section .single-item .inner-box{
    padding-left: 30px;
    padding-right: 30px;
  }

  .info-section .single-item{
    width: 50%;
  }

  .image_block_three .image-box{
    margin: 0px 0px 30px 0px;
  }

  .feature-style-two .image-box{
    margin-top: 40px;
  }

  .header-top-two .top-inner{
    display: block;
    text-align: center;
  }

  .header-top-two .top-inner .info-list{
    justify-content: center;
  }

  .content_block_12 .content-box{
    margin-bottom: 30px;
  }

  .vision-section .content-box{
    margin-bottom: 30px;
  }

  .clients-list{
    display: block;
    text-align: center;
  }

  .clients-list li{
    margin-bottom: 25px;
  }

  .clients-list li:last-child{
    margin-bottom: 0px;
  }

  .testimonial-style-three .accordion-content{
    margin-left: 0px;
    margin-top: 30px;
  }

  .image_block_four .image-box{
    margin-bottom: 30px;
  }

  .about-style-eight .lower-content{
    margin-top: 50px;
  }

  .service-block-four .inner-box{
    margin-bottom: 30px;
  }

  .header-style-seven .header-lower{
    position: relative;
    top: 0px;
  }

  .header-style-seven .header-top .social-links:before,
  .header-style-seven .header-top .info li:before{
    display: none;
  }

  .image_block_five .image-box{
    margin: 0px 0px 30px 0px;
  }

  .banner-style-eight{
    padding-bottom: 100px;
  }

  .feature-block-one .inner-box{
    margin-bottom: 30px;
  }

  .header-upper .upper-inner{
    display: block;
  }

  .header-upper .upper-inner .logo-box{
    text-align: center;
    margin-bottom: 20px;
  }

  .header-upper .upper-inner .info-box{
    justify-content: center;
  }

  .image_block_six .image-box{
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .content_block_16 .content-box{
    margin-left: 0px;
  }

  .about-style-11 .lower-content{
    display: block;
  }

  .chooseus-style-three .list-item{
    margin: 0px;
  }

  .news-style-three .sec-title{
    margin-bottom: 40px;
  }

  .cta-section .form-inner{
    margin-left: 0px;
  }

  .banner-style-ten .content-column,
  .service-style-seven .content-column,
  .about-style-12 .content-column{
    width: 100%;
  }

  .banner-style-ten .bg-layer,
  .service-style-seven .bg-layer,
  .about-style-12 .bg-layer{
    display: none;
  }

  .quote-section .list-style-one{
    margin-left: 0px;
  }

  .faq-style-two .lower-text{
    border: none;
    padding: 0px;
  }

  .skills-section .image-box{
    margin: 0px;
  }

  .quote-style-two .form-inner .form-group .field-input{
    margin-bottom: 20px;
  }

  .quote-style-two .form-inner{
    padding-bottom: 10px;
  }

  .service-style-nine .title-inner{
    display: block;
  }

  .service-style-nine .lower-box h2{
    margin-bottom: 30px;
  }

  .testimonial-style-four .image-layer{
    display: none;
  }

  .testimonial-block-four .inner-box{
    margin-left: 0px;
  }

  .faq-style-three .accordion-content{
    margin-left: 0px;
    margin-top: 30px;
  }

  .service-style-ten .list-item{
    margin: 0px;
  }

  .service-style-ten .lower-box h2{
    margin-bottom: 30px;
  }

  .project-style-three .sec-title .theme-btn{
    position: relative;
    bottom: 0px;
    margin-top: 20px;
  }

  .about-style-14 .logo-box{
    margin-bottom: 30px;
  }

  .fluid-section-three .right-column{
    width: 100%;
  }

  .content_block_18 .content-box{
    margin-left: 0px;
    margin-top: 30px;
  }

  .team-style-two .sec-title .link-btn{
    position: relative;
    top: 0px;
  }

  .service-block-eight,
  .service-style-11 .single-column{
    width: 100%;
  }

  .chooseus-style-four:before{
    display: none;
  }

  .chooseus-style-four .image-box{
    margin-left: 0px;
    margin-bottom: 30px;
  }

  .skills-section .video-inner{
    position: relative;
    width: 100%;
  }

  .about-style-17 .image_block_six .image-box .image-content{
    left: 0px;
  }

  .service-style-12 .owl-dots{
    display: none;
  }

  .service-style-12 .title-inner .text-box{
    margin: 0px;
  }

  .video-style-two .content-box .funfact-inner{
    margin-bottom: 30px;
  }

  .news-style-four .sec-title a{
    position: relative;
    bottom: 0px;
  }

  .about-style-18 .image-box{
    margin: 0px 0px 30px 0px;
  }

  .content_block_22 .content-box{
    margin-left: 0px;
  }

  .skills-style-two .image-box{
    margin-top: 40px;
    margin-right: 0px;
  }

  .fluid-section-four .left-content{
    margin-right: 0px;
  }

  .fluid-section-four .outer-container{
    padding-left: 30px;
    padding-right: 30px;
  }

  .fluid-section-four .single-item{
    margin-top: 30px;
  }

  .about-style-19 .image-layer{
    display: none;
  }

  .project-style-three.home-5 .project-block-three{
    width: 50%;
  }

  .banner-style-21{
    padding: 0px;
  }

  .about-style-20 .image-layer{
    display: none;
  }

  .quote-form-inner{
    margin-left: 0px;
    margin-top: 30px;
  }

  .header-top-three{
    padding-left: 15px;
    padding-right: 15px;
  }

  .header-top-three .info-list li{
    margin-right: 15px;
  }

  .image_block_seven .image-inner{
    margin-left: 0px;
    margin-top: 30px;
  }

  .service-style-13 .tab-btn{
    margin-bottom: 20px;
  }

  .service-style-13 .content-box{
    padding-left: 30px;
  }

  .chooseus-style-six .image-layer{
    display: none;
  }

  .banner-style-23 .bg-layer{
    display: none;
  }

  .banner-style-24 .outer-container{
    padding: 0px 30px;
  }

  .banner-style-24 .content-box{
    float: none;
  }

  .subscribe-section .form-inner{
    margin-left: 0px;
    margin-top: 30px;
  }

  .history-section .upper-box .image-box{
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .service-details-content{
    margin-top: 30px;
  }

  .service-details-two .image-box{
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .project-page-section .sec-title p{
    position: relative;
    bottom: 0px;
  }

  .blog-standard-content,
  .blog-details-content{
    margin-right: 0px;
  }

  .blog-sidebar{
    margin-top: 40px;
  }

  .contact-page-section .info-inner{
    margin-top: 30px;
  }

  .about-style-four.home-19 .image-inner{
    margin-right: 0px;
  }

  .about-style-four.home-19 .image-inner .award{
    left: 0px;
  }

  .banner-style-14 .content-box{
    padding-top: 200px;
  }

  .banner-style-14 .inner-box{
    margin-top: 0px;
  }

  .cta-style-three .inner-container .bg-layer{
    display: none;
  }

  .cta-style-three .inner-container{
    padding-left: 30px;
  }

  .team-section.home-14 .sec-title .theme-btn{
    bottom: 0px;
  }

  .about-style-18.home-25 .image-box{
    margin: 0px;
    margin-top: 30px;
  }

  .service-style-16 .content-box{
    margin: 0px;
  }

  .service-style-16 .image-box.mr_30{
    margin: 0px;
  }

  .service-style-16 .image-box{
    margin-bottom: 30px !important;
  }

  .image_block_nine .image-box{
    margin-top: 50px;
  }

  .image_block_nine .image-box .image-2{
    right: 0px;
  }
  .handle-preloader .animation-preloader {
    top: 20%;
    text-align: center;
    display: ruby;
  }
.txt-loading{
  width: 60%;
}
  .banner-section .bg-layer{
    height: 100%;
  }
  .border-end-mob{
    border: none !important;
  }
.partnership-main {
	position: inherit;
  top: 0;
}
.partnership-cnt{
  padding: 20px 10px;
}
.about-foot{
  margin-top: 0;
}

}


@media only screen and (max-width: 767px){
  .team-block-three .inner-box .image-box {
    width: 300px;
    height: 300px;
  }
  .border-end-mob{
    border: none !important;
  }  
  .about-foot{
    margin-top: 0;
  }
.partnership-main {
	position: inherit;
}
.partnership-cnt{
  padding: 20px 10px;
}
  .handle-preloader .animation-preloader {
    top: 20%;
    text-align: center;
    display: ruby;
  }
.txt-loading{
  width: 60%;
}
  .banner-section .bg-layer{
    height: 100%;
  }
  .banner-section .bg-layer .lazy-bg {
    object-fit: cover;
  }
  .about-section .image-box img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: bottom center;
  }
  .banner-section{
    padding: 150px 0px 100px 0px;
  }

  .banner-section .content-box h2{
    font-size: 45px;
    line-height: 90px;
  }

  .banner-section .outer-container{
    padding: 0px 15px;
  }

  .about-section{
    padding: 30px 0px;
  }

  .service-block-one .inner-box{
    margin-bottom: 30px;
    padding: 26px 40px 30px 85px;
  }
  .service-section .sec-title {
    margin-bottom: 40px;
  }
  .service-section{
    padding: 30px 0px 30px;
  }

  .sec-title h2{
    font-size: 32px;
    line-height: 40px;
  }
  .content_block_two .content-box .sec-title {
    margin-bottom: 12px;
  }
  .sec-title h2 br,
  .sec-title p br{
    display: none;
  }

  .chooseus-section{
    padding: 30px 0px;
  }

  .project-section{
    padding-top: 60px;
  }

  .about-style-two{
    padding: 65px 0px 30px 0px;
  }

  .content_block_four .content-box{
    margin-bottom: 30px;
  }

  .slide-text-outer.pb_110{
    padding-bottom: 50px;
  }

  .testimonial-section{
    padding: 65px 0px 70px 0px;
  }

  .news-section{
    padding: 65px 0px 40px 0px;
  }

  .clients-section{
    padding-bottom: 70px;
  }

  .map-section .address-box{
    right: 0px;
  }

  .footer-bottom .bottom-inner{
    display: block;
    text-align: center;
  }
  .main-footer .widget-section {
    padding: 30px 0px 15px;
  }
  .banner-style-two{
    padding: 150px 0px 100px 0px;
  }

  .banner-style-two .content-box h2{
    font-size: 50px;
    line-height: 60px;
  }

  .banner-style-two .outer-container{
    padding: 0px 15px;
  }

  .about-style-three{
    padding-top: 65px;
    padding-bottom: 70px;
  }
  .main-header .outer-box .logo img {
    max-width: 102px;
  }
  .main-header .menu-right-content .theme-btn {
    font-size: 12px;
  }
  .content_block_five .content-box .sec-title h2{
    font-size: 32px;
    line-height: 40px;
  }

  .content_block_six .content-box{
    padding-left: 30px;
    padding-right: 30px;
  }

  .service-style-two .title-box h2{
    font-size: 50px;
    line-height: 60px;
  }

  .service-style-two .title-box h2 br{
    display: none;
  }

  .service-style-two{
    padding: 60px 0px 10px 0px;
  }

  .service-block-two .inner-box{
    max-width: 100%;
  }

  .project-style-two{
    padding: 60px 0px 20px 0px;
  }

  .project-style-two .outer-container{
    padding-left: 15px;
    padding-right: 15px;
  }

  .slide-text-outer.pb_120{
    padding-bottom: 60px;
  }

  .faq-section{
    padding-bottom: 70px;
  }

  .testimonial-block-two .inner-box{
    padding-left: 0px;
  }

  .testimonial-block-two .inner-box .image-box{
    position: relative;
    margin-bottom: 40px;
    max-width: 130px;
  }

  .testimonial-style-two{
    padding: 70px 0px;
  }

  .contact-section,
  .faq-style-two{
    padding: 60px 0px 70px 0px;
  }

  .footer-style-two .about-widget{
    margin-right: 0px;
  }

  .banner-style-three .content-box h2{
    font-size: 80px;
    line-height: 90px;
  }

  .banner-style-three .content-box{
    padding-top: 0px;
  }

  .about-style-four{
    padding: 70px 0px;
  }

  .about-style-four .content_block_three .content-box{
    margin-bottom: 0px;
  }

  .project-style-three{
    padding: 60px 0px 40px 0px;
  }

  .list-style-one li{
    width: 100%;
  }

  .feature-section{
    padding: 65px 0px;
  }

  .team-section{
    padding: 65px 0px 40px 0px;
  }

  .contact-style-two,
  .feature-style-two{
    padding: 65px 0px 70px 0px;
  }

  .banner-style-four{
    padding: 150px 0px 100px 0px;
  }

  .banner-style-four .content-box h2{
    font-size: 50px;
    line-height: 60px;
  }

  .about-style-five{
    padding: 70px 0px 60px 0px;
  }

  .service-section .more-btn{
    margin-top: 0px;
  }

  .about-style-six{
    padding: 70px 0px;
  }

  .funfact-block-two.mb_130{
    margin-bottom: 40px;
  }

  .video-section .content-box .inner-box{
    display: block;
  }

  .video-section .content-box .inner-box .btn-box{
    margin-right: 0px;
    margin-bottom: 40px;
  }

  .feature-style-two .image-box .image-shape{
    display: none;
  }

  .location-section .inner-container{
    padding: 65px 0px;
  }

  .header-top-two .top-inner .info-list{
    display: block;
  }

  .header-top-two .top-inner .info-list li{
    display: inline-block;
    margin: 0px 8px;
  }

  .header-top-two .top-inner .info-list li:before{
    display: none;
  }

  .banner-carousel .content-box .upper-text{
    padding-right: 0px;
  }

  .banner-carousel .content-box .upper-text:before{
    display: none;
  }

  .banner-carousel .content-box h2{
    font-size: 50px;
    line-height: 60px;
  }

  .banner-carousel .slide-item{
    padding: 100px 0px;
  }

  .about-style-seven,
  .vision-section,
  .testimonial-style-three,
  .chooseus-style-two{
    padding: 65px 0px 70px 0px;
  }

  .service-style-four .bg-layer{
    display: none;
  }

  .service-style-four .content-box .text-box{
    padding-left: 0px;
  }

  .service-style-four .outer-container{
    padding: 0px;
  }

  .service-style-four{
    padding-top: 65px;
  }

  .vision-section .image-box{
    margin-right: 0px;
  }

  .testimonial-style-three .owl-theme .owl-dots{
    display: none;
  }

  .chooseus-style-two .image-box{
    margin-left: 0px;
    margin-top: 30px;
  }

  .project-style-three.home-5 .project-block-three{
    width: 100%;
  }

  .slide-text-outer.pt_110{
    padding-top: 70px;
  }

  .banner-style-six h2{
    font-size: 40px;
    line-height: 50px;
  }

  .banner-style-six .text-box{
    width: 100%;
  }

  .banner-style-six{
    padding-top: 80px;
  }

  .banner-style-six .outer-container,
  .banner-style-six .image-box,
  .project-section .outer-box{
    padding-left: 15px;
    padding-right: 15px;
  }

  .banner-style-six .content-box{
    padding-bottom: 60px;
  }

  .about-style-eight{
    padding: 70px 0px;
  }

  .about-style-eight .lower-content{
    padding-left: 30px;
    padding-right: 30px;
  }

  .service-style-five{
    padding-bottom: 40px;
  }

  .project-section.home-6{
    padding-bottom: 30px;
  }

  .testimonial-style-two.home-6{
    padding-top: 0px;
  }

  .testimonial-style-two.home-6 .outer-container{
    padding-top: 70px;
  }

  .testimonial-style-two .owl-nav{
    display: none;
  }

  .news-style-two{
    padding: 60px 0px 30px 0px;
  }

  .banner-style-seven .banner-carousel .slide-item{
    padding: 100px 0px;
  }

  .banner-style-seven .banner-carousel .content-box h2,
  .banner-style-seven .banner-carousel .content-box h2 span{
    font-size: 80px;
    line-height: 90px;
  }

  .about-style-nine .content_block_15 .content-box .link a{
    margin: 0px;
  }

  .about-style-nine{
    padding: 70px 0px 60px 0px;
  }

  .service-style-six{
    padding-top: 60px;
  }

  .service-style-six .owl-nav{
    display: none;
  }

  .fluid-section .right-column .content-box,
  .fluid-section .left-column .content-box{
    padding-left: 30px;
  }

  .fluid-section-two .bg-layer{
    display: none;
  }

  .fluid-section-two .content-column{
    width: 100%;
  }

  .fluid-section-two .content-column{
    padding: 70px 15px;
  }

  .fluid-section-two .content-box h2{
    font-size: 30px;
    line-height: 40px;
  }

  .banner-style-eight .image-layer{
    display: none;
  }

  .banner-style-eight .content-box h2,
  .banner-style-nine .content-box h2{
    font-size: 50px;
    line-height: 60px;
  }

  .banner-style-eight{
    padding-top: 150px;
  }

  .about-style-ten .left-content h2{
    margin-bottom: 30px;
  }

  .about-style-ten{
    padding-top: 60px;
  }

  .service-section .sec-title .link-btn{
    position: relative;
    top: 0px;
  }

  .header-upper .upper-inner .info-box{
    display: none;
  }

  .banner-style-nine{
    padding: 90px 0px 110px 0px;
  }

  .about-style-11 .upper-content,
  .contact-style-three,
  .cta-section{
    padding: 70px 0px;
  }

  .about-style-11 .lower-content{
    padding: 70px 0px 35px 0px;
  }

  .chooseus-style-three{
    padding: 60px 0px 70px 0px;
  }

  .video-section .title-box h2 br{
    display: none;
  }

  .news-style-three{
    padding: 60px 0px 30px 0px;
  }

  .news-style-three .sec-title p{
    max-width: 100%;
  }

  .contact-style-three .map-inner{
    position: relative;
    width: 100%;
  }

  .contact-style-three .content-box{
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .banner-style-ten .content-column{
    padding: 170px 15px 70px 15px;
  }

  .banner-style-ten .content-box .logo{
    margin-bottom: 40px;
  }

  .banner-style-ten .content-box h2{
    font-size: 40px;
    line-height: 50px;
  }

  .service-style-seven .content-column,
  .skills-section .content-column,
  .about-style-12 .content-column,
  .contact-style-four .content-column{
    padding: 70px 15px;
  }

  .about-style-12 .content-box .inner-box .single-item{
    margin-bottom: 30px;
  }

  .banner-style-11{
    padding-left: 0px;
  }

  .banner-style-11 .content-box h2,
  .banner-style-12 .content-box h2{
    font-size: 50px;
    line-height: 60px;
  }

  .banner-style-11 .outer-container{
    padding-top: 90px;
  }

  .banner-style-11 .content-box p br{
    display: none;
  }

  .service-style-eight{
    padding: 60px 0px 40px 0px;
  }

  .skills-section .content-box{
    padding-bottom: 70px;
  }

  .header-style-12 .header-upper .support-box{
    display: none;
  }

  .header-style-12 .outer-box{
    padding: 0px;
  }

  .banner-style-12{
    padding: 90px 0px 160px 0px;
  }

  .quote-style-two .form-inner form{
    padding-right: 0px;
  }

  .quote-style-two .form-inner .message-btn{
    position: relative;
  }

  .quote-style-two .form-inner .message-btn button[type='submit']{
    width: 100%;
  }

  .quote-style-two .form-inner{
    padding-bottom: 20px;
  }

  .about-style-13{
    padding: 60px 0px 70px 0px;
  }

  .about-style-13 .image-box{
    padding: 0px;
    margin: 0px;
  }

  .about-style-13 .image-box .image-2{
    position: relative;
    margin: 30px 0px;
  }

  .about-style-13 .image-box .batch{
    left: 0px;
    bottom: 0px;
  }

  .about-style-13 .content_block_three .content-box .sec-title h2{
    font-size: 30px;
    line-height: 40px;
  }

  .service-style-nine .upper-box{
    padding: 60px 0px 40px 0px;
  }

  .testimonial-block-four .inner-box{
    padding-left: 0px;
  }

  .testimonial-block-four .inner-box .image-box{
    position: relative;
    top: 0px;
    margin-bottom: 40px;
    display: inline-block;
  }

  .testimonial-style-four .content-box{
    margin-left: 0px;
  }

  .testimonial-style-four .owl-dots,
  .header-style-13:before{
    display: none;
  }

  .testimonial-style-four,
  .faq-style-three{
    padding: 70px 0px;
  }

  .banner-style-13{
    padding: 0px;
  }

  .banner-style-13 .outer-container{
    padding: 100px 15px;
  }

  .banner-style-13 .content-box h2{
    font-size: 60px;
    line-height: 70px;
  }

  .service-style-ten .upper-box{
    padding: 60px 0px 30px 0px;
  }

  .project-style-three .outer-container{
    padding: 0px 15px;
  }

  .fluid-section-three .image-box .bg-layer,
  .fluid-section-three .bg-layer{
    display: none;
  }

  .fluid-section-three .right-column .content-box{
    padding-left: 30px;
    padding-right: 30px;
  }

  .content_block_18 .content-box .inner-box .single-item{
    margin-bottom: 30px;
  }

  .about-style-15{
    padding-bottom: 35px;
  }

  .team-style-two{
    padding: 65px 0px 35px 0px;
  }

  .header-style-15 .support-box{
    display: none;
  }

  .banner-style-15 .banner-carousel .slide-item{
    padding: 160px 0px 100px 0px;
  }

  .service-style-11 .single-column .image-inner{
    width: 100%;
  }

  .process-section{
    padding: 70px 0px 30px 0px;
  }

  .banner-carousel .content-inner h2{
    font-size: 50px;
    line-height: 60px;
  }

  .quote-style-three .title-box{
    display: block;
  }

  .about-style-16{
    padding: 70px 0px;
  }

  .chooseus-style-four{
    padding: 70px 0px 30px 0px;
  }

  .project-style-four{
    padding: 65px 0px 40px 0px;
  }

  .project-style-four .owl-nav{
    display: none;
  }

  .about-style-17{
    padding: 70px 0px;
  }

  .content_block_three .content-box .inner-box .single-item{
    margin-bottom: 30px;
  }

  .content_block_three .content-box{
    margin-right: 0px;
  }

  .service-style-12{
    padding: 65px 0px 30px 0px;
  }

  .video-style-two{
    padding: 60px 0px 70px 0px;
  }

  .benefits-section{
    padding: 70px 0px;
  }

  .content_block_21 .content-box{
    margin: 0px;
  }

  .content_block_20 .content-box .inner-box .single-column:nth-child(even) .single-item{
    margin-left: 0px;
  }

  .faq-section.pt_110.pb_120{
    padding-top: 50px;
  }

  .news-style-four{
    padding: 65px 0px 35px 0px;
  }

  .banner-style-18 .links-list,
  .banner-style-18 .pattern-layer,
  .banner-style-18 .owl-nav,
  .project-style-five .owl-nav{
    display: none;
  }

  .banner-style-18 .banner-carousel .slide-item .bg-layer{
    width: 100%;
  }

  .banner-style-18 .content-box{
    margin-left: 0px;
  }

  .banner-style-18 .banner-carousel .slide-item{
    padding: 200px 0px 100px 0px;
  }

  .about-style-18,
  .skills-style-two{
    padding: 70px 0px;
  }

  .fluid-section .left-column .content-box{
    width: 100%;
  }

  .project-style-five{
    padding-right: 0px;
  }

  .project-style-five .outer-container{
    padding-left: 15px;
    padding-right: 15px;
  }

  .testimonial-style-four.home-18 .testimonial-block-four .inner-box{
    padding-left: 0px;
  }

  .clients-style-three .clients-box li{
    width: 33.333%;
    border-right: none;
  }

  .fluid-section-four .content-box{
    display: block;
  }

  .fluid-section-four .content-box .text-box{
    width: 100%;
  }

  .fluid-section-four .outer-container{
    padding-left: 15px;
    padding-right: 15px;
  }

  .fluid-section-four:before{
    display: none;
  }

  .banner-style-20 .content-box h2,
  .banner-style-22 .banner-carousel .content-box h2{
    font-size: 50px;
    line-height: 60px;
  }

  .banner-style-20{
    padding: 160px 0px 100px 0px;
  }

  .about-style-19,
  .about-style-20 .inner-container,
  .testimonial-style-five,
  .about-style-21,
  .service-style-13,
  .chooseus-style-seven,
  .service-style-nine.home-23{
    padding: 65px 0px 70px 0px;
  }

  .chooseus-style-five{
    padding: 60px 0px;
  }

  .about-style-11.home-21{
    padding: 60px 0px 20px 0px;
  }

  .about-style-11.home-21 .funfact-inner{
    margin-left: 0px;
    margin-top: 30px;
  }

  .header-top-three .top-inner{
    display: block;
  }

  .banner-style-22 .banner-carousel .slide-item{
    padding: 240px 0px 100px 0px;
  }

  .image_block_seven .image-inner .image-column:last-child .image-box{
    margin-left: 0px;
  }

  .service-style-13 .content-box .inner-box{
    padding-right: 0px;
  }

  .service-style-13 .content-box .inner-box .image-box{
    position: relative;
    margin-top: 30px;
  }

  .chooseus-style-six{
    padding: 60px 0px;
  }

  .chooseus-style-six .content-box{
    margin-left: 0px;
  }

  .cta-style-two .inner-container{
    padding-left: 30px;
    padding-right: 30px;
  }

  .cta-style-two .inner-container .bg-pattern{
    display: none;
  }

  .cta-style-two .bg-image,
  .cta-style-two .pattern-layer,
  .cta-style-two .inner-container:before{
    display: none;
  }

  .fluid-section.alternat-2 .left-column .image-box{
    display: none;
  }

  .banner-style-23 .outer-container{
    padding: 100px 0px 0px 30px;
  }

  .banner-style-23 .pattern-layer{
    display: none;
  }

  .banner-style-23 .content-box h2{
    font-size: 50px;
    line-height: 60px;
  }

  .about-style-four.home-23 .image-inner{
    display: block;
    margin: 0px;
    margin-top: 30px;
  }

  .about-style-four.home-23 .image-inner .image-1{
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .service-style-nine .owl-nav,
  .project-style-two.home-23 .owl-nav{
    display: none;
  }

  .feature-style-three{
    padding: 70px 0px;
  }

  .project-style-two.home-23{
    padding-top: 65px;
  }

  .banner-style-24 .content-box h2 span{
    font-size: 50px;
    line-height: 60px;
  }

  .header-top-four{
    display: none;
  }

  .banner-style-24 .banner-carousel .slide-item{
    padding: 160px 0px 100px 0px;
  }

  .page-title{
    padding: 190px 0px 100px 0px;
  }

  .about-style-four .lower-content{
    display: block;
  }

  .about-style-four .lower-content{
    padding-top: 40px;
    margin-top: 40px;
  }

  .about-style-four .lower-content .image-box,
  .about-style-four .lower-content h3{
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .history-section{
    padding: 70px 0px;
  }

  .history-section .history-block{
    padding-left: 0px;
  }

  .history-section .history-block .year{
    position: relative;
    top: 0px;
    margin-bottom: 30px;
  }

  .history-section .history-block .year:before{
    display: none;
  }

  .history-section .lower-box .image-box{
    margin-left: 0px;
  }

  .history-section .lower-box .image-box .image{
    margin-bottom: 30px;
  }

  .team-page-1 .sec-title p{
    position: relative;
    right: 0px;
    bottom: 0px;
  }

  br{
    display: none !important;
  }

  .service-page-1{
    padding-bottom: 0px;
  }

  .service-details,
  .service-details-two,
  .service-details-three,
  .project-details,
  .blog-grid,
  .sidebar-page-container,
  .appointment-area,
  .faq-page-section,
  .faq-form-section,
  .contact-page-section{
    padding: 70px 0px;
  }

  .video-section.service-page-3{
    padding-bottom: 80px;
  }

  .service-style-nine .lower-box{
    padding-bottom: 60px;
  }

  .project-page-section{
    padding: 65px 0px 40px 0px;
  }

  .project-page-section .outer-container{
    padding: 0px 15px;
  }

  .news-block-five .inner-box .lower-content{
    margin-left: 0px;
    padding-left: 0px;
  }

  .blog-details-content .content-one,
  .blog-details-content .comment-box,
  .blog-details-content .comments-form-area{
    margin-left: 0px;
  }

  .appointment-title h2,
  .faq-form-section h2{
    font-size: 30px;
    line-height: 40px;
  }

  .testimonial-page-section .testimonial-block-one .inner-box{
    margin-bottom: 30px;
  }

  .testimonial-page-section{
    padding: 65px 0px 40px 0px;
  }

  .content_block_nine .content-box{
    padding-right: 0px;
  }

  .content_block_nine .content-box:before{
    display: none;
  }

  .video-section .title-box h2{
    font-size: 40px;
    line-height: 50px;
  }

  .about-style-six.home-11 .content-box .sec-title h2{
    font-size: 40px;
    line-height: 50px;
  }

  .about-style-13.home-11{
    padding-bottom: 40px;
  }

  .banner-style-13 .content-box h2 span.small-text{
    font-size: 60px;
    line-height: 70px;
  }

  .service-style-ten .lower-box{
    padding-bottom: 65px;
  }

  .about-style-14{
    padding-top: 40px;
    padding-bottom: 70px;
  }

  .about-style-15 .image-box{
    margin-right: 0px;
  }

  .about-style-15 .image-box .image-content{
    right: 0px;
  }

  .service-block-eight .inner-box{
    padding-left: 30px;
  }

  .clients-section.pt_110.pb_120{
    padding-top: 70px;
  }

  .about-style-17 .image_block_six .image-box{
    margin-right: 0px;
  }

  .header-style-19{
    padding-left: 0px;
  }

  .header-style-19 .logo-inner,
  .header-style-19 .header-top .top-inner:before{
    display: none;
  }

  .header-style-19 .header-top .top-inner{
    border-bottom-right-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .header-style-19 .outer-box .left-column .nav-btn{
    margin-right: 0px;
  }

  .banner-style-19 .banner-carousel .slide-item .content-box h2{
    font-size: 40px;
    line-height: 50px;
  }

  .banner-style-19 .banner-carousel .slide-item{
    padding: 100px 0px;
  }

  .about-style-four.home-19 .content_block_three .content-box{
    margin-bottom: 30px;
  }

  .service-style-15 .owl-theme .owl-dots{
    display: none;
  }

  .service-style-15{
    padding: 60px 0px 70px 0px;
  }

  .chooseus-style-eight .image-box img{
    float: none;
    max-width: 100%;
  }

  .chooseus-style-eight{
    padding: 50px 0px 55px 0px;
  }

  .chooseus-style-eight .content-box .list-inner{
    display: block;
  }


  .banner-style-14 .content-box h2{
    font-size: 40px;
    line-height: 50px;
  }

  .about-style-23{
    padding: 70px 0px;
  }

  .about-style-23 .content-box{
    margin-left: 0px;
    margin-bottom: 30px;
  }

  .project-section.home-14{
    padding-bottom: 30px;
  }

  .banner-style-25 .banner-carousel .slide-item{
    padding: 200px 0px 100px 0px;
  }

  .banner-style-25 .phone-inner .phone-box p{
    padding-left: 0px;
  }

  .banner-style-25 .phone-inner .phone-box p:before{
    display: none;
  }

  .banner-style-25 .banner-carousel .content-box h2{
    font-size: 40px;
    line-height: 50px;
  }

  .about-style-18.home-25 .lower-content{
    margin-top: 60px;
  }

  .service-style-16 .content-box h2{
    font-size: 24px;
    line-height: 34px;
  }

  .service-style-16{
    padding-bottom: 60px;
  }

  .feature-style-four{
    padding: 60px 0px;
  }

  .faq-section{
    padding-top: 60px;
  }


}

@media only screen and (max-width: 599px){

  .project-section .project-block-one,
  .service-style-three .service-block-three{
    width: 100%;
  }

  .fluid-section .left-column .image-box .bg-layer{
    display: none;
  }

  .fluid-section .left-column .image-box{
    display: block;
    width: 100%;
    position: relative;
  }

  .fluid-section .left-column .image-box .image{
    position: relative;
    display: block;
  }

  .fluid-section .left-column .content-box{
    float: none;
  }

  .header-top .top-inner .top-left{
    text-align: center;
  }

  .image_block_two .image-box .image-content{
    right: 15px;
  }

  .content_block_12 .content-box .inner-box{
    display: block;
  }

  .content_block_12 .content-box .inner-box .list-item{
    margin-bottom: 20px;
  }

  .slide-text-outer.italic .text-box,
  .slide-text-outer .text-box{
    font-size: 80px;
    line-height: 90px;
  }

  .service-style-11 .single-column:nth-child(8) .image-column{
    padding-left: 30px;
    padding-right: 30px;
  }

  .video-style-two .content-box h2{
    font-size: 40px;
    line-height: 50px;
  }

  .video-style-two .content-box .funfact-inner{
    display: block;
  }

  .content_block_21 .content-box{
    display: block;
  }

  .skills-style-two .image-box{
    padding: 0px;
  }

  .skills-style-two .image-box .image-2{
    position: relative;
    margin-top: 30px;
  }

  .fluid-section-four .single-item{
    margin-left: 0px;
    margin-right: 0px;
  }

  .header-style-18 .header-lower{
    padding-left: 0px;
  }

  .header-style-18 .header-lower .logo-box{
    position: relative;
    text-align: center;
    padding-bottom: 20px;
    left: 0px;
    top: 0px;
  }

  .header-style-18 .nav-btn{
    display: none;
  }

  .banner-style-18 .banner-carousel .slide-item{
    padding-top: 280px;
  }

  .content_block_22 .content-box .lower-box{
    display: block;
  }

  .content_block_22 .content-box .lower-box .support-box{
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .about-style-19 .content_block_22 .content-box{
    margin-right: 0px;
  }

  .content_block_13 .content-box{
    padding-left: 30px;
    padding-right: 30px;
  }

  .about-style-11.home-21 .content-box,
  .chooseus-style-seven .content-box{
    margin-right: 0px;
  }

  .feature-style-three .feature-list li{
    margin-right: 90px;
  }

  .feature-style-three .feature-list li:before{
    right: -45px;
  }

  .about-style-six .content-box{
    margin-right: 0px;
  }

  .video-section.service-page-3 .sec-title h2{
    font-size: 30px;
    line-height: 40px;
  }

  .page-title .content-box h1{
    font-size: 40px;
    line-height: 50px;
  }

}


@media only screen and (max-width: 499px){

  .mobile-menu{
    width: 100%;
  }

  .main-header .outer-box{
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .banner-style-24 .outer-container{
    padding: 0px 15px;
  }

  .fluid-section-four .content-box .text-box{
    padding: 50px 30px;
  }

  .testimonial-block-one .inner-box .text{
    padding-left: 30px;
    padding-right: 30px;
  }

  .subscribe-section .form-inner .form-group input[type='email']{
    padding-right: 20px;
  }

  .subscribe-section .form-inner .form-group button[type='submit']{
    position: relative;
    border-radius: 5px;
    width: 100%;
    margin-top: 15px;
  }

  .content_block_five .content-box .text-box .big-text{
    display: none;
  }

  .contact-section .content-box .inner-box,
  .footer-style-two .about-widget .inner-box{
    display: block;
  }

  .contact-section .content-box .inner-box .single-item{
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .header-style-three .outer-box,
  .header-style-five .outer-box{
    padding-left: 0px;
    padding-right: 0px;
  }

  .content_block_three .content-box .lower-box{
    display: block;
  }

  .about-style-four .content_block_three .content-box .lower-box .author-box{
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .about-style-four .content_block_three .content-box .lower-box .author-box:before{
    display: none;
  }

  .info-section .single-item{
    width: 100%;
  }

  .content_block_11 .content-box .lower-content{
    display: block;
  }

  .content_block_11 .content-box .lower-content .btn-box{
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .testimonial-block-three .inner-box .text{
    padding-left: 30px;
  }

  .testimonial-block-three .inner-box .author-box{
    margin-left: 80px;
  }

  .header-style-six .header-lower{
    padding-left: 15px;
    padding-right: 15px;
  }

  .banner-style-six .text-box{
    padding-left: 30px;
    padding-right: 30px;
  }

  .banner-style-six .text-box h3{
    font-size: 30px;
    line-height: 40px;
  }

  .content_block_three .content-box .lower-box .author-box{
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .project-section .upper-box .fact-box .count-outer{
    font-size: 90px;
    line-height: 90px;
  }

  .contact-section .content-box h3{
    font-size: 40px;
    line-height: 50px;
  }

  .header-style-seven .header-lower .outer-box{
    padding-left: 15px;
  }

  .banner-style-seven .banner-carousel .content-box h2{
    font-size: 60px;
    line-height: 70px;
  }

  .image_block_five .image-box{
    padding: 0px;
  }

  .image_block_five .image-box .image-2{
    position: relative;
    margin: 30px 0px;
  }

  .image_block_five .image-box .image-content{
    position: relative;
    width: 100%;
  }

  .banner-style-eight .content-box .btn-box,
  .video-section .video-inner{
    display: block;
  }

  .banner-style-eight .content-box .btn-box a:first-child{
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .video-section .video-inner .theme-btn{
    margin-right: 0px;
    margin-bottom: 40px;
  }

  .service-style-seven .content-box .service-list li a{
    font-size: 30px;
    line-height: 40px;
  }

  .about-style-14 .content-box .lower-box{
    display: block;
  }

  .about-style-14 .content-box .lower-box .author-box{
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .banner-carousel .content-inner{
    padding-left: 30px;
    padding-right: 30px;
  }

  .about-style-17 .content_block_three .content-box .lower-box .author-box{
    margin-right: 0px;
  }

  .about-style-17 .content_block_three .content-box .lower-box .author-box:before{
    display: none;
  }

  .clients-style-three .clients-box li{
    width: 100%;
    text-align: center;
  }

  .header-style-20 .outer-box{
    padding: 0px !important;
  }

  .about-style-20 .content-box .lower-box{
    display: block;
  }

  .testimonial-style-five .content-box{
    margin-right: 0px;
  }

  .header-top-three .info-list{
    display: block;
  }

  .service-style-13 .content-box .inner-box .image-box{
    width: 100%;
  }

  .banner-style-23{
    padding-right: 30px;
  }

  .feature-style-three .feature-list{
    display: block;
  }

  .feature-style-three .feature-list li{
    margin: 0px;
    margin-bottom: 15px;
  }

  .feature-style-three .feature-list li:last-child{
    margin-bottom: 0px;
  }

  .feature-style-three .feature-list li:before{
    display: none;
  }

  .main-header .outer-box .left-column .nav-btn{
    display: none;
  }

  .page-title .content-box .bread-crumb{
    display: block;
    text-align: left;
  }

  .page-title .content-box .bread-crumb li:before{
    display: none;
  }

  .history-section .upper-box .content-box .lower-content{
    display: block;
  }

  .history-section .upper-box .content-box .lower-content h3{
    margin-bottom: 20px;
  }

  .error-section .inner-box h1{
    font-size: 160px;
    line-height: 160px;
  }

  .news-block-five .inner-box .lower-content .upper-box{
    display: block;
  }

  .blog-details-content .comment-inner .comment{
    padding-left: 30px;
    padding-right: 30px;
  }

  .blog-details-content .comment-inner .comment .thumb-box{
    position: relative;
    left: 0px;
    top: 0px;
    margin-bottom: 20px;
  }

  .blog-details-content .comment-inner .comment.replay-comment{
    padding-left: 0px;
    padding-right: 0px;
  }
  .appointment-form .date-box {
    width: auto;
  }
  .appointment-form .date-box .calander-data{
    float: none;
    margin-bottom: 10px;
    min-height: 40px;
  }

  .header-style-14 {
    background: #fff;
  }

  .header-style-14 .header-lower{
    padding-left: 0px;
    padding: 15px 0px;
  }

  .header-style-14 .header-lower .logo-box{
    display: none;
  }

  .cta-style-three .content-box h2,
  .cta-style-three .content-box a{
    font-size: 30px;
    line-height: 40px;
  }


}




















