
/** banner-section **/

.banner-section{
  position: relative;
  padding: 270px 0px 220px 0px;
}
.lazy-bg {
	width: 100%;
  height: 100%;
	opacity: 0.3;
}
.banner-section .bg-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #121e2c;
}

.banner-section .pattern-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
}

.banner-section .outer-container{
  padding: 0px 160px;
}

.banner-section .content-box{
  position: relative;
  display: block;
  z-index: 5;
}

/* .banner-section .upper-text, .banner-section .content-box h2,  .banner-section .content-box p, .banner-section .content-box a {
  opacity: 0;
  animation: fadeAndMove 0.8s ease forwards;
} */
.banner-section .content-box .upper-text{
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 26px;
  font-family: var(--special-font);
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin-bottom: 7px;
}

.banner-section .content-box h2{
  position: relative;
  display: block;
  font-size: 100px;
  line-height: 140px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #fff;
  margin-bottom: 28px;
  text-transform: uppercase;
}

.banner-section .content-box h2 span{
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.60);
}

.banner-section .content-box p{
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  /* margin-left: 150px;
  max-width: 360px; */
  margin-bottom: 36px;
}

.banner-section .content-box a{
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 26px;
  font-family: var(--special-font);
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
.banner-section .content-box button{
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 26px;
  font-family: var(--special-font);
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

@keyframes fadeAndMove {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(-40px);
  }
}

.banner-section .content-box a:hover{

}

.banner-section .content-box a span{
  position: relative;
  padding-right: 46px;
}

.banner-section .content-box a span:before{
  position: absolute;
  content: '';
  background-image: url(../../images/icons/icon-8.png);
  width: 24px;
  height: 10px;
  top: 7px;
  right: 0px;
  background-repeat: no-repeat;
}

.banner-section .image-layer .image-1{
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.banner-section .image-layer .image-2{
  position: absolute;
  right: 855px;
  bottom: 0px;
}


/** banner-style-two **/

.banner-style-two{
  position: relative;
  padding: 280px 0px 300px 0px;
  background: -webkit-linear-gradient(0deg, #ceba9b 0%, #cfdadc 100%);
}

.banner-style-two .outer-container{
  position: relative;
  padding: 0px 275px;
}

.banner-style-two .content-box{
  position: relative;
  max-width: 560px;
  float: right;
}

.banner-style-two .content-box h2{
  position: relative;
  display: block;
  font-size: 68px;
  line-height: 82px;
  font-weight: 700;
  color: #000;
  margin-bottom: 24px;
}

.banner-style-two .content-box p{
 font-size: 22px;
 line-height: 31px;
 color: #000000;
 font-weight: 500;
 max-width: 500px;
 margin-bottom: 41px;
}

.banner-style-two .image-layer .image-1{
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.banner-style-two .image-layer .image-2{
  position: absolute;
  right: 0px;
  bottom: 0px;
}


/** banner-style-three **/

.banner-style-three{
  padding: 100px 0px;
}

.banner-style-three .bg-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-style-three .bg-layer:before{
  position: absolute;
  content: '';
  background: #000;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0.25;
}

.banner-style-three .content-box{
  position: relative;
  display: block;
  margin-left: -240px;
  padding-top: 245px;
}

.banner-style-three .content-box .text{
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 28px;
  font-family: var(--special-font);
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 11px;
  letter-spacing: 3px;
}

.banner-style-three .content-box h2{
  position: relative;
  display: block;
  font-size: 172px;
  line-height: 150px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #fff;
  margin-bottom: 9px;
  text-transform: uppercase;
}

.banner-style-three .content-box h2 span{
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.60);
}

.banner-style-three .inner-box{
  position: relative;
  display: block;
  border-radius: 10px;
  padding: 42px 35px 50px 35px;
  z-index: 1;
}

.banner-style-three .inner-box:before{
  position: absolute;
  content: '';
  background: #fff;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  border-radius: 10px;
  opacity: 0.92;
  z-index: -1;
}

.banner-style-three .inner-box .text-box{
  margin-bottom: 21px;
}

.banner-style-three .inner-box .text-box h3{
  font-size: 27px;
  line-height: 36px;
  font-family: var(--roboto);
  color: #000000;
  font-weight: 900;
  margin-bottom: 8px;
}

.banner-style-three .inner-box .text-box p{
  line-height: 26px;
}

.banner-style-three .inner-box form .form-group{
  position: relative;
  display: block;
  margin-bottom: 12px;
}

.banner-style-three .inner-box form .form-group:last-child{
  margin-bottom: 0px;
}

.banner-style-three .inner-box form .form-group input[type='text'],
.banner-style-three .inner-box form .form-group input[type='email'],
.banner-style-three .inner-box form .form-group textarea{
  position: relative;
  display: block;
  width: 100%;
  height: 55px;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  font-size: 16px;
  color: #444444;
  padding: 10px 25px;
  transition: all 500ms ease;
}

.banner-style-three .inner-box form .form-group textarea{
  height: 140px;
  resize: none;
}

.banner-style-three .inner-box form .form-group input:focus,
.banner-style-three .inner-box form .form-group textarea:focus{

}

.banner-style-three .inner-box form .form-group .theme-btn{
  width: 100%;
  margin-top: 5px;
}


/** banner-style-four **/

.banner-style-four{
  padding: 240px 0px 230px 0px;
}

.banner-style-four .bg-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-style-four .content-box{
  position: relative;
  display: block;
  margin-left: -90px;
}

.banner-style-four .content-box .upper-text{
  position: relative;
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
  font-family: var(--special-font);
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  background: rgba(9, 13, 48, 0.50);
  border-radius: 40px;
  padding: 8px 30px 6px 30px;
  margin-bottom: 28px;
}

.banner-style-four .content-box h2{
  position: relative;
  display: block;
  font-size: 63px;
  line-height: 76px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 25px;
}

.banner-style-four .content-box p{
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 50px;
}

.banner-style-four .image-layer{
  position: absolute;
  right: 0px;
  bottom: 0px;
}


/** banner-style-five **/

.banner-style-five{
  position: relative;
  overflow: hidden;
}

.banner-carousel .slide-item{
  position: relative;
  padding: 223px 0px 248px 0px;
}

.banner-carousel .slide-item:before{
  position: absolute;
  content: '';
  background: #000;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0.55;
  z-index: 1;
}
  
.banner-carousel .content-box{
  position: relative;
  display: block;
  z-index: 5;
}
  
.banner-carousel .slide-item .bg-layer{
  position: absolute;
  right:0;
  top:0;
  width:100%;
  height:100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transform:scale(1);
  -ms-transform:scale(1);
  transform:scale(1);
  -webkit-transition: all 8000ms linear;
  -moz-transition: all 8000ms linear;
  -ms-transition: all 8000ms linear;
  -o-transition: all 8000ms linear;
  transition: all 8000ms linear;
}
  
.banner-carousel .active .slide-item .bg-layer{
  -webkit-transform:scale(1.25);
  -ms-transform:scale(1.25);
  transform:scale(1.25);
}

.banner-carousel .content-box .upper-text{
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 26px;
  font-family: var(--special-font);
  font-weight: 700;
  color: #fff;
  margin-bottom: 19px;
  text-transform: uppercase;
  padding-right: 307px;
  letter-spacing: 0.7px;
  opacity: 0;
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  transform: translateY(-50px);
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}
  
.banner-carousel .active .content-box .upper-text{
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1000ms;
  -moz-transition-delay: 1000ms;
  -ms-transition-delay: 1000ms;
  -o-transition-delay: 1000ms;
  transition-delay: 1000ms;
}

.banner-carousel .content-box .upper-text:before{
  position: absolute;
  content: '';
  background: #fff;
  width: 294px;
  height: 1px;
  right: 0px;
  bottom: 8px;
}
  
.banner-carousel .content-box h2{
  font-size: 70px;
  line-height: 80px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 15px;
  opacity: 0;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}
  
.banner-carousel .active .content-box h2{
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 700ms;
  -moz-transition-delay: 700ms;
  -ms-transition-delay: 700ms;
  -o-transition-delay: 700ms;
  transition-delay: 700ms;
}
  
.banner-carousel .content-box p{
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 25px;
  font-weight: 500;
  color: #fff;
  opacity: 0;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}
  
.banner-carousel .active .content-box p{
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1000ms;
  -moz-transition-delay: 1000ms;
  -ms-transition-delay: 1000ms;
  -o-transition-delay: 1000ms;
  transition-delay: 1000ms;
}

.banner-carousel .content-box .category-list{
  position: relative;
  margin-bottom: 36px;
  opacity: 0;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}
  
.banner-carousel .active .content-box .category-list{
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1300ms;
  -moz-transition-delay: 1300ms;
  -ms-transition-delay: 1300ms;
  -o-transition-delay: 1300ms;
  transition-delay: 1300ms;
}

.banner-carousel .content-box .category-list li{
  position: relative;
  display: inline-block;
  float: left;
  font-size: 22px;
  line-height: 30px;
  font-family: var(--special-font);
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 36px;
}

.banner-carousel .content-box .category-list li:last-child{
  margin: 0px;
}

.banner-carousel .content-box .category-list li a{
  display: inline-block;
  color: #fff;
}

.banner-carousel .content-box .category-list li a:hover{

}

.banner-carousel .content-box .category-list li:before{
  position: absolute;
  content: '';
  background: #fff;
  width: 2px;
  height: 21px;
  top: 5px;
  right: -18px;
}

.banner-carousel .content-box .category-list li:last-child:before{
  display: none;
}
  
.banner-carousel .content-box .btn-box{
  opacity: 0;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}
  
.banner-carousel .active .content-box .btn-box{
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1300ms;
  -moz-transition-delay: 1300ms;
  -ms-transition-delay: 1300ms;
  -o-transition-delay: 1300ms;
  transition-delay: 1300ms;
}


/** banner-style-six **/

.banner-style-six{
  position: relative;
  padding-top: 150px;
}

.banner-style-six .outer-container{
  position: relative;
  padding: 0px 100px 0px 150px;
}

.banner-style-six h2{
  position: relative;
  display: block;
  max-width: 950px;
  width: 100%;
  font-size: 50px;
  line-height: 66px;
  font-family: var(--roboto);
  font-weight: 300;
  color: #010101;
  margin-bottom: 0px;
}

.banner-style-six h2 span{
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-style: italic;
  color: #dd3d2b;
  border-bottom: 2px solid #dd3d2b;
  line-height: 50px;
}

.banner-style-six .content-box{
  position: relative;
  display: block;
  padding-bottom: 121px;
}

.banner-style-six .text-box{
  position: absolute;
  right: 0px;
  bottom: -45px;
  background: #dd3d2b;
  width: 530px;
  padding: 67px 50px 56px 70px;
  z-index: 1;
}

.banner-style-six .text-box h3{
  position: relative;
  display: block;
  font-size: 40px;
  line-height: 48px;
  font-family: 'Jost', sans-serif;
  color: #fff;
  font-weight: 600;
  margin-bottom: 14px;
}

.banner-style-six .text-box p{
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 30px;
  font-family: 'Jost', sans-serif;
  color: #fff;
  font-weight: 500;
  margin-bottom: 0px;
}

.banner-style-six .image-box{
  position: relative;
  display: block;
  padding: 0px 50px;
}

.banner-style-six .image-box .image{
  position: relative;
  display: block;
}

.banner-style-six .image-box .image img{
  width: 100%;
}

/** banner-style-seven **/

.banner-style-seven{
  position: relative;
}

.banner-style-seven .banner-carousel .slide-item:before{
  opacity: 0.1;
}

.banner-style-seven .banner-carousel .slide-item{
  padding: 185px 0px 200px 0px;
}

.banner-style-seven .banner-carousel .content-box h2{
  font-size: 120px;
  line-height: 112px;
  font-family: var(--roboto);
  font-weight: 900;
  margin-bottom: 27px;
}

.banner-style-seven .banner-carousel .content-box h2 span{
  font-size: 160px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255,255,255,0.50);
}

.banner-style-seven .banner-carousel .content-box h2 .hidden-text{
  position: absolute;
  left: 3px;
  top: 3px;
  -webkit-text-stroke-color: rgba(255,255,255,0.20);
}

.banner-style-seven .banner-carousel .content-box p{
  margin-bottom: 43px;
}

.banner-style-seven .banner-carousel .content-box .btn-box .theme-btn{
  border-radius: 5px;
}


/** banner-style-eight **/

.banner-style-eight{
  position: relative;
  padding: 335px 0px 265px 0px;
  background: #1a2230;
}

.banner-style-eight .pattern-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-style-eight .content-box{
  position: relative;
  display: block;
}

.banner-style-eight .content-box h2{
  font-size: 80px;
  line-height: 96px;
  font-family: var(--roboto);
  font-weight: 900;
  color: #fff;
  margin-bottom: 29px;
}

.banner-style-eight .content-box p{
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 49px;
}

.banner-style-eight .content-box .btn-box{
  position: relative;
  display: flex;
  align-items: center;
}

.banner-style-eight .content-box .btn-box a:first-child{
  background: #ba2c2c;
  padding: 21px 45px 20px 40px;
}

.banner-style-eight .content-box .btn-box a:last-child{
  background: #f69256;
  padding: 21px 36px 20px 30px;
}

.banner-style-eight .image-layer{
  position: absolute;
  top: 95px;
  right: 0px;
}


/** banner-style-nine **/

.banner-style-nine{
  position: relative;
  padding: 240px 0px 275px 0px;
  background: #f7f8fd;
}

.banner-style-nine .bg-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: calc(100% - 20px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.banner-style-nine .content-box{
  position: relative;
  display: block;
  max-width: 680px;
}

.banner-style-nine .content-box h2{
  position: relative;
  display: block;
  font-size: 75px;
  line-height: 90px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 25px;
}

.banner-style-nine .content-box p{
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 31px;
}

.banner-style-nine .pattern-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}


/** banner-style-ten **/

.banner-style-ten{
  position: relative;
  background: #011b39;
}

.banner-style-ten .bg-layer{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-style-ten .content-column{
  position: relative;
  width: 50%;
  padding: 238px 170px 324px 250px;
}

.banner-style-ten .content-box{
  position: relative;
  max-width: 550px;
}

.banner-style-ten .content-box .logo{
  position: relative;
  display: block;
  margin-bottom: 134px;
}

.banner-style-ten .content-box span{
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 26px;
  font-family: var(--special-font);
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 44px;
  margin-bottom: 27px;
}

.banner-style-ten .content-box span:before{
  position: absolute;
  content: '';
  background: #fff;
  width: 30px;
  height: 2px;
  left: 0px;
  top: 10px;
}

.banner-style-ten .content-box h2{
  display: block;
  font-size: 50px;
  line-height: 60px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 45px;
}

.banner-style-ten .content-box p{
  font-size: 22px;
  line-height: 32px;
  font-family: var(--title-font);
  color: #ededee;
}


/** banner-style-11 **/

.banner-style-11{
  position: relative;
  background: #0c1928;
  padding-left: 220px;
}

.banner-style-11 .outer-container{
  padding: 140px 0px 385px 0px;
}

.banner-style-11 .bg-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-style-11 .bg-layer:before{
  position: absolute;
  content: '';
  background: #000;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0.2;
}

.banner-style-11 .content-box{
  position: relative;
  max-width: 630px;
}

.banner-style-11 .content-box h2{
  font-size: 64px;
  line-height: 77px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 14px;
}

.banner-style-11 .content-box p{
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 24px;
}

.banner-style-11 .content-box a{
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 26px;
  font-family: var(--special-font);
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  padding-left: 85px;
}

.banner-style-11 .content-box a:hover{

}

.banner-style-11 .content-box a:before{
  position: absolute;
  content: '';
  background: #fff;
  width: 74px;
  height: 1px;
  left: 0px;
  top: 14px;
  transition: all 500ms ease;
}

.banner-style-11 .content-box a:hover:before{
  
}

.banner-style-11 .big-text{
  position: absolute;
  left: 65px;
  bottom: -17px;
  font-size: 300px;
  line-height: 200px;
  font-family: var(--roboto);
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.1);
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}


/** banner-style-12 **/

.banner-style-12{
  position: relative;
  padding: 180px 0px 240px 0px;
}

.banner-style-12 .bg-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-style-12 .content-box{
  position: relative;
  display: block;
  max-width: 550px;
}

.banner-style-12 .content-box h2{
  font-size: 70px;
  line-height: 70px;
  color: #001b3b;
  font-weight: 600;
  margin-bottom: 24px;
}

.banner-style-12 .content-box p{
  font-size: 24px;
  line-height: 29px;
  color: #001b3b;
  font-weight: 500;
  margin-bottom: 40px;
}


/** banner-style-13 **/

.banner-style-13{
  position: relative;
  background: #161e2c;
  padding: 0px 90px;
  padding-bottom: 90px;
}

.banner-style-13:before{
  position: absolute;
  content: '';
  width: 550px;
  height: 100%;
  top: 0px;
  right: 0px;
}

.banner-style-13 .outer-container{
  position: relative;
  border: 1px solid #333436;
  padding: 163px 30px 230px 150px;
}

.banner-style-13 .content-box{
  position: relative;
  display: block;
  max-width: 500px;
}

.banner-style-13 .content-box h2{
  font-size: 130px;
  line-height: 103px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 44px;
}

.banner-style-13 .content-box h2 span.small-text{
  font-size: 108px;
}

.banner-style-13 .content-box h2 span.border-text{
  display: inline-block;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 1);
  margin-left: 10px;
}

.banner-style-13 .content-box p{
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 35px;
  max-width: 420px;
}

.banner-style-13 .content-box a{
  position: relative;
  display: inline-block;
  font-size: 20px;
  line-height: 28px;
  font-family: var(--special-font);
  font-weight: 500;
  padding-left: 94px;
}

.banner-style-13 .content-box a:hover{
  color: #fff;
}

.banner-style-13 .content-box a:before{
  position: absolute;
  content: '';
  width: 72px;
  height: 1px;
  left: 0px;
  top: 13px;
  transition: all 500ms ease;
}

.banner-style-13 .content-box a:hover:before{
  background: #fff;
}

.banner-style-13 .bg-layer{
  position: absolute;
  top: -1px;
  right: -1px;
  width: calc(50% + 326px);
  height: calc(100% + 2px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


/** banner-style-15 **/

.banner-style-15{
  position: relative;
}

.banner-style-15 .content-box{
  max-width: 630px;
}

.banner-style-15 .bg-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-style-15 .bg-layer:before{
  position: absolute;
  content: '';
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #9d3f3c;
  opacity: 0.9;
}

.banner-style-15 .image-layer{
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

.banner-style-15 .content-box h2{
  font-size: 75px;
  line-height: 84px;
  margin-bottom: 12px;
  color: #fff;
  font-weight: 700;
}

.banner-style-15 .content-box h2 span{
  font-weight: 400;
}

.banner-style-15 .content-box p{
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 45px;
  color: #fff;
}

.banner-style-15 .content-box .theme-btn.btn-two{
  color: #fff;
  border-color: #fff;
}

.banner-style-15 .content-box .theme-btn.btn-two:hover{
  background: var(--secondary-color);
  border-color: var(--secondary-color);
}

.banner-style-15 .content-box .theme-btn.btn-two span:before{
  background-image: url(../../images/icons/icon-47.png);
  width: 14px;
  height: 14px;
}

.banner-style-15 .slide-item {
  padding: 315px 0px 167px 0px;
}


.banner-style-16{
  position: relative;
}

.banner-style-16 .content-inner{
  position: relative;
  display: block;
  max-width: 440px;
  background: rgba(237, 231, 223, 0.90);
  padding: 49px 45px 72px 45px;
  z-index: 5;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}

.banner-style-16 .content-inner h2{
  font-size: 60px;
  line-height: 72px;
  color: #000000;
  font-weight: 700;
  margin-bottom: 16px;
}

.banner-style-16 .content-inner p{
  font-size: 21px;
  line-height: 31px;
  color: #000000;
  font-style: italic;
}

.banner-style-16 .slide-item{
  padding: 220px 0px 165px 0px;
}

.banner-style-16 .slide-item .bg-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-style-16 .slide-item .bg-layer:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: -webkit-linear-gradient(-90deg, rgba(25,17,18,0.95) 0%, rgba(25,17,18,0.0) 50%);
  opacity: 1;
}


.banner-style-17{
  position: relative;
  height: 950px;
}

.banner-style-17 .bg-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


/** banner-style-18 **/

.banner-style-18{
  position: relative;
  overflow: hidden;
}

.banner-style-18 .banner-carousel .slide-item .bg-layer{
  width: calc(50% + 140px);
}

.banner-style-18 .banner-carousel .slide-item:before{
  display: none;
}

.banner-style-18 .banner-carousel .slide-item .bg-layer:before{
  position: absolute;
  content: '';
  background: #000;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0.20;
  z-index: 1;
}

.banner-style-18 .pattern-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: calc(50% - 140px);
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-style-18 .content-box{
  max-width: 600px;
  margin-left: 130px;
}

.banner-style-18 .banner-carousel .slide-item{
  padding: 345px 0px 228px 0px;
}

.banner-style-18 .banner-carousel .content-box .upper-text{
  padding-right: 0px;
  padding-left: 70px;
  margin-bottom: 17px;
}

.banner-style-18 .banner-carousel .content-box .upper-text:before{
  display: none;
}

.banner-style-18 .banner-carousel .content-box .upper-text:after{
  position: absolute;
  content: '';
  background: #fff;
  width: 55px;
  height: 1px;
  left: 0px;
  top: 13px;
}

.banner-style-18 .banner-carousel .content-box h2{
  line-height: 85px;
  margin-bottom: 18px;
}

.banner-style-18 .banner-carousel .content-box p{
  font-style: italic;
  margin-bottom: 44px;
}

.banner-style-18 .banner-carousel .content-box .theme-btn{
  border: 2px solid #fff;
  color: #fff;
}

.banner-style-18 .banner-carousel .content-box .theme-btn span:before{
  background-image: url(../../images/icons/icon-47.png);
  width: 14px;
  height: 14px;
}

.banner-style-18 .owl-nav{
  position: absolute;
  right: 9px;
  bottom: 27px;
}

.banner-style-18 .owl-nav button{
  position: relative;
  display: block;
  width: 68px;
  height: 68px;
  line-height: 68px;
  border: 2px solid #fff;
  text-transform: capitalize;
  cursor: pointer;
  margin: -2px 0px;
  transition: all 500ms ease;
}

.banner-style-18 .owl-nav button span{
  display: none;
}

.banner-style-18 .owl-nav button.owl-prev:before{
  position: absolute;
  content: '';
  background-image: url(../../images/icons/icon-143.png);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-style-18 .owl-nav button.owl-next:before{
  position: absolute;
  content: '';
  background-image: url(../../images/icons/icon-144.png);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-style-18 .line-1{
  position: absolute;
  top: 0px;
  right: 425px;
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.30);
  z-index: 2;
}

.banner-style-18 .line-2{
  position: absolute;
  top: 0px;
  right: calc(50% - 220px);
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.30);
  z-index: 2;
}

.banner-style-18:before{
  position: absolute;
  content: '';
  background: #000;
  width: 100px;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0.15;
  z-index: 2;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}

.banner-style-18 .links-list{
  position: absolute;
  left: 0px;
  bottom: 63px;
  width: 100px;
  text-align: center;
  z-index: 2;
}

.banner-style-18 .links-list li{
  position: relative;
  display: block;
  margin-bottom: 170px;
}

.banner-style-18 .links-list li:last-child{
  margin-bottom: 0px;
}

.banner-style-18 .links-list li .icon-box{
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.banner-style-18 .links-list li a{
  position: relative;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  color: #fff;
  font-weight: 600;
}

.banner-style-18 .links-list li a:hover{
  text-decoration: underline;
}


/** banner-style-20 **/

.banner-style-20{
  position: relative;
  padding: 260px 0px 240px 0px;
}

.banner-style-20 .pattern-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-style-20 .content-box{
  position: relative;
  display: block;
  margin-right: -30px;
}

.banner-style-20 .content-box h2{
  position: relative;
  display: block;
  font-size: 65px;
  line-height: 78px;
  font-family: var(--roboto);
  color: #fff;
  font-weight: 900;
  margin-bottom: 34px;
}

.banner-style-20 .content-box p{
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 46px;
}

.banner-style-20 .content-box .theme-btn{
  color: #fff;
  border-color: #fff;
  border-radius: 40px;
}

.banner-style-20 .content-box .theme-btn:hover{
  background: var(--secondary-color);
  border-color: var(--secondary-color);
}

.banner-style-20 .content-box .theme-btn span:before{
  background-image: url(../../images/icons/icon-47.png);
  width: 14px;
  height: 14px;
}

.banner-style-20 .image-layer{
  position: absolute;
  left: 0px;
  bottom: 0px;
}


/** banner-style-21 **/

.banner-style-21{
  position: relative;
  background: #161e2c;
  padding: 0px 100px;
}

.banner-style-21 .outer-container{
  position: relative;
  border-radius: 0px 40px 0px 40px;
  overflow: hidden;
  background: #a0c2e0;
}

.banner-style-21 .content-box{
  position: relative;
  float: right;
  padding: 98px 25px 67px 40px;
  width: 280px;
  background: #a0c2e0;
  z-index: 1;
}

.banner-style-21 .image-layer{
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.banner-style-21 .content-box h2{
  position: relative;
  display: block;
  font-size: 88px;
  line-height: 80px;
  font-family: var(--roboto);
  color: #fff;
  font-weight: 900;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  left: 22px;
}

.banner-style-21 .content-box h2 span{
  position: relative;
  display: block;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 1);
}

.banner-style-21 .content-box h3{
  position: relative;
  display: block;
  font-size: 28px;
  line-height: 34px;
  color: #161e2c;
  font-weight: 600;
  margin-top: 85px;
  margin-bottom: 27px;
}

.banner-style-21 .content-box .text{
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 30px;
  color: #161e2c;
  font-weight: 500;
  margin-bottom: 4px;
}

.banner-style-21 .content-box h4{
  display: block;
  font-size: 28px;
  line-height: 30px;
  font-family: var(--text-font);
  font-weight: 500;
  color: #161e2c;
  margin-bottom: 29px;
}

.banner-style-21 .content-box h4 a{
  display: inline-block;
  color: #161e2c;
}

.banner-style-21 .content-box h4 a:hover{

}

.banner-style-21 .content-box p{
  font-size: 20px;
  line-height: 24px;
  color: #161e2c;
  font-weight: 500;
}


/** banner-style-22 **/

.banner-style-22{
  position: relative;
  overflow: hidden;
}

.banner-style-22 .banner-carousel .slide-item:before{
  opacity: 1;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.5) 15%, rgba(0, 0, 0, 0.0) 50%);
}

.banner-style-22 .banner-carousel .content-box{
  margin-right: -40px;
}

.banner-style-22 .banner-carousel .content-box h2{
  font-size: 72px;
  line-height: 70px;
  margin-bottom: 29px;
}

.banner-style-22 .banner-carousel .content-box p{
  font-size: 24px;
  font-family: 'Yantramanav', sans-serif;
  line-height: 29px;
  margin-bottom: 40px;
}

.banner-style-22 .banner-carousel .content-box .theme-btn{
  border-radius: 5px;
}

.banner-style-22 .banner-carousel .slide-item{
  padding: 310px 0px;
}

.banner-style-22 .banner-carousel .slide-item .shape .shape-1{
  position: absolute;
  left: 80px;
  top: 230px;
  width: 100px;
  height: 94px;
  background-repeat: no-repeat;
}

.banner-style-22 .banner-carousel .slide-item .shape .shape-2{
  position: absolute;
  left: 50%;
  top: 390px;
  width: 50px;
  height: 47px;
  background-repeat: no-repeat;
}


/** banner-style-23 **/

.banner-style-23{
  position: relative;
  padding-right: 110px;
  padding-bottom: 110px;
}

.banner-style-23:before{
  position: absolute;
  content: '';
  background: #8b5637;
  width: 635px;
  height: 100%;
  top: 0px;
  right: 0px;
}

.banner-style-23 .outer-container{
  padding: 245px 0px;
  padding-left: 200px;
  background: #8b5637;
}

.banner-style-23 .bg-layer{
  position: absolute;
  top: 0px;
  right: 0px;
  width: calc(100% - 375px);
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-style-23 .pattern-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 375px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-style-23 .content-box{
  position: relative;
  display: block;
  max-width: 530px;
}

.banner-style-23 .content-box h2{
  display: block;
  font-size: 78px;
  line-height: 88px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 15px;
}

.banner-style-23 .content-box p{
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 28px;
  max-width: 460px;
}

.banner-style-23 .content-box a{
  position: relative;
  display: inline-block;
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  padding-left: 110px;
}

.banner-style-23 .content-box a:before{
  position: absolute;
  content: '';
  background: #fff;
  width: 100px;
  height: 1px;
  left: 0px;
  top: 16px;
}


/** banner-style-24 **/

.banner-style-24{
  position: relative;
  overflow: hidden;
}

.banner-style-24 .outer-container{
  position: relative;
  padding: 0px 200px;
}

.banner-style-24 .bg-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-style-24 .content-box{
  position: relative;
  max-width: 450px;
  float: right;
}

.banner-style-24 .content-box h2{
  font-size: 90px;
  line-height: 100px;
  font-weight: 800;
  margin-bottom: 17px;
  color: #fff;
}

.banner-style-24 .content-box h2 span{
  position: relative;
  display: block;
  font-size: 115px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 1);
}

.banner-style-24 .slide-item{
  position: relative;
  padding: 295px 0px 260px 0px;
}

.banner-style-24 .bg-layer:before{
  position: absolute;
  content: '';
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.8) 15%, rgba(0, 0, 0, 0.0) 50%);
}

.banner-style-24 .content-box .special-text{
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 30px;
  font-family: var(--special-font);
  color: #fff;
  font-weight: 500;
  margin-bottom: 14px;
}

.banner-style-24 .content-box p{
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 23px;
  color: #fff;
}

.banner-style-24 .content-box .theme-btn{
  background: transparent;
  padding: 0px;
}


/** banner-style-14 **/

.banner-style-14{
  position: relative;
}

.banner-style-14 .bg-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-style-14 .bg-layer:before{
  position: absolute;
  content: '';
  background: -webkit-linear-gradient(-90deg, rgba(25,39,64,0.0) 40%, rgba(25,39,64,1) 100%);
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}

.banner-style-14 .content-box{
  position: relative;
  display: block;
  padding: 625px 0px 95px 0px;
}

.banner-style-14 .content-box .upper-text{
  position: relative;
  display: inline-block;
  font-size: 15px;
  line-height: 26px;
  font-family: var(--special-font);
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  background: #090d30;
  text-transform: capitalize;
  border-radius: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 4px 32px;
}

.banner-style-14 .content-box h2{
  font-size: 63px;
  line-height: 76px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 20px;
}

.banner-style-14 .content-box p{
  position: relative;
  display: block;
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 35px;
}

.banner-style-14 .content-box .theme-btn.btn-two{
  color: #fff;
  border-color: #fff;
}

.banner-style-14 .content-box .theme-btn.btn-two:hover{
  background: var(--theme-color);
  border-color: var(--theme-color);
}

.banner-style-14 .content-box .theme-btn.btn-two span:before{
  background-image: url(../../images/icons/icon-209.png);
  width: 14px;
  height: 14px;
}

.banner-style-14 .inner-box{
  position: relative;
  display: block;
  background: -webkit-linear-gradient(0deg, #d90429, #d92c04 100%);
  padding: 44px 30px 65px 40px;
  margin-top: 641px;
}

.banner-style-14 .inner-box .upper-box{
  position: relative;
  display: block;
  padding: 0px 0px 40px 90px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.23);
  margin-bottom: 30px;
}

.banner-style-14 .inner-box .upper-box .icon-box{
  position: absolute;
  left: 0px;
  top: 30px;
}

.banner-style-14 .inner-box .upper-box .text{
  position: relative;
  display: block;
  font-size: 15px;
  line-height: 26px;
  font-family: var(--special-font);
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.40);
  letter-spacing: 1px;
}

.banner-style-14 .inner-box .upper-box h3{
  position: relative;
  display: block;
  font-size: 26px;
  line-height: 31px;
  font-family: var(--text-font);
  font-weight: 700;
  color: rgba(255, 255, 255, 0.40);
}

.banner-style-14 .inner-box h2{
  position: relative;
  display: block;
  font-size: 35px;
  line-height: 44px;
  font-family: var(--text-font);
  color: #fff;
  font-weight: 700;
  margin-bottom: 40px;
}

.banner-style-14 .inner-box a{
  position: relative;
  display: inline-block;
  font-size: 22px;
  line-height: 30px;
  font-family: 'Yantramanav', sans-serif;
  color: #fff;
  font-weight: 500;
  padding-right: 29px;
}

.banner-style-14 .inner-box a:before{
  position: absolute;
  content: '';
  background-image: url(../../images/icons/icon-209.png);
  width: 14px;
  height: 14px;
  right: 0px;
  bottom: 10px;
  background-repeat: no-repeat;
}


/** banner-style-19 **/

.banner-style-19{
  position: relative;
}

.banner-style-19 .banner-carousel .slide-item{
  padding: 220px 0px 220px 0px;
}

.banner-style-19 .banner-carousel .slide-item:before{
  opacity: 0.1;
}

.banner-style-19 .banner-carousel .slide-item:after{
  position: absolute;
  content: '';
  background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.5) 10%, rgba(0,0,0,0.0) 50%);
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.banner-style-19 .banner-carousel .slide-item .content-box h2{
  font-size: 64px;
  line-height: 77px;
  margin-bottom: 33px;
}

.banner-style-19 .banner-carousel .slide-item .content-box p{
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 36px;
}


/** banner-style-25 **/

.banner-style-25{
  position: relative;
}

.banner-style-25 .slide-item:before{
  display: none;
}

.banner-style-25 .slide-item .bg-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-style-25 .content-box .upper-text{
  padding: 0px;
  font-size: 15px;
  background: rgba(9, 13, 48, 0.50);
  padding: 4px 30px 3px 30px;
  border-radius: 30px;
  margin-bottom: 22px;
}

.banner-style-25 .content-box .upper-text:before{
  display: none;
}

.banner-style-25 .content-box h2{
  position: relative;
  display: block;
  color: #fff;
  font-size: 63px;
  line-height: 76px;
  font-weight: 700;
  margin-bottom: 15px;
}

.banner-style-25 .content-box p{
  position: relative;
  display: block;
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
  color: #fff;
  font-style: italic;
  margin-bottom: 53px;
}

.banner-style-25 .slide-item{
  padding: 360px 0px 203px 0px;
}

.banner-style-25 .content-box .theme-btn{
  background: #fff;
  color: #000 !important;
  font-size: 15px;
  padding: 18px 36px 17px 30px;
}

.banner-style-25 .content-box .theme-btn:hover{
  background: var(--theme-color);
}

.banner-style-25 .content-box .theme-btn span:before{
  background-image: url(../../images/icons/icon-86.png);
  width: 14px;
  height: 14px;
  top: 3px;
}

.banner-style-25 .phone-inner{
  position: relative;
  z-index: 2;
}

.banner-style-25 .phone-inner .phone-box{
  position: relative;
  background: #ffd542;
  padding: 25px 30px 21px 0px;
  margin-top: -16px;
}

.banner-style-25 .phone-inner .phone-box:before{
  position: absolute;
  content: '';
  background: #ffd542;
  height: 100%;
  top: 0px;
  right: 0px;
  width: 5000px;
}

.banner-style-25 .phone-inner .phone-box p{
  position: relative;
  display: inline-block;
  font-size: 20px;
  line-height: 30px;
  color: #383838;
  font-weight: 600;
  padding-left: 426px;
}

.banner-style-25 .phone-inner .phone-box p a{
  color: #0e0b44;
}

.banner-style-25 .phone-inner .phone-box p a:hover{
  text-decoration: underline;
}

.banner-style-25 .phone-inner .phone-box p:before{
  position: absolute;
  content: '';
  background: #383838;
  width: 406px;
  height: 1px;
  left: 0px;
  top: 15px;
}